<div id="account" class="account hide page">
  <div id="acc">
    <p id="accinfo">Informations:</p>
    <p id="usernameAcc">Votre pseudonyme est: </p>
  </div>
 <script src="assets/js/account.js" charset="utf-8"></script>
</div>
