<div id="base" class="base">
  <div class="header">
    <ul>
      <li><a href="#" id="homebtn" class="active" onclick="goToHome();">Accueil</a></li>
      <li><a href="#" id="newsbtn" onclick="goToNews();">Nouveautés</a></li>
      <li><a href="#" id="playbtn" onclick="goToPlay();" class="hide">Jouer</a></li>
      <li><a href="#" id="optionsbtn" onclick="goToOptions();" >Options</a></li>
      <li><a href="#" onclick="goToAcc();" id="MyAccount" class="hide w3-display-right">Mon Compte</a></li>
      <li><a href="#" id="Login" onclick="goToLog();" class="w3-display-right">Login</a></li>
    </ul>
  </div>
  <div class="base-content">

    <% include home.ejs %>
    <% include news.ejs %>
    <% include login.ejs %>
    <% include contact.ejs %>
    <% include options.ejs %>
    <% include account.ejs %>
    <% include play.ejs %>


  </div>
  <script src="./assets/js/base.js"></script>
  <script src="./assets/js/download.js"></script>
</div>
