<div class="home page" id="home">
  <img class="mySlides" src="assets/images/background.png" alt="" height="92%" width="100%">
  <a class="discordlink" href="#" onclick="shelly.openExternal('https://discordapp.com/invite/kdbe8jY');"><img src="assets/images/discord.png" alt="" height="90px" width="90px"></a>
  <a class="tslink" href="#" onclick="shelly.openExternal('ts3server://ts.argonia.fr');"><img src="assets/images/teamspeak.png" alt="" height="90px" width="90px"></a>
  <a class="twitterlink" href="#" onclick="shelly.openExternal('https://twitter.com/Argonia_Fr');"><img src="assets/images/twitter.png" alt="" height="90px" width="90px"></a>
  <a class="youtubelink" href="#" onclick="shelly.openExternal('https://www.youtube.com/channel/UCdYV-NyGcWwCsODzFEIRh2A?view_as=subscriber');"><img src="assets/images/youtube.png" alt="" height="90px" width="90px"></a>
</div>
<script src="assets/js/home.js" charset="utf-8"></script>
