<div id="LoginModal" class="modal">
  <div class="controls">
    <span class="title">Connexion</span>
    <input id="user" type="text" placeholder="Pseudonyme" class="field"/>
    <input id="pass" type="password" placeholder="Mot de passe" class="field" />
    <button onclick="tryLogin();" type="submit" class="validate">Se connecter !</button>
  </div>
  <div class="bottom">
    <a href="">Register</a><a href="">Mot de passe oublié</a>
  </div>
</div>
<script src="./assets/js/login.js" charset="utf-8"></script>
