<html lang="fr">

  <head>

    <meta charset="utf-8">
    <title>Argonia Launcher</title>

    <!--Style Sheet-->
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/frame.css">
    <link rel="stylesheet" href="./assets/css/login.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  </head>

  <body>
    <div id="main" class="main">
      <% include base.ejs %>

      <div id="notification" class="hidden">
        <p id="message"></p>
        <button id="close-button" onClick="closeNotification()">
          Fermer
        </button>
        <button id="restart-button" onClick="restartApp()" class="hidden">
          Relancer
        </button>
      </div>
    </div>

    <% include frame.ejs %>

    <div class="footer">
      <p> Powered By / Propulsé par - Bakhaow</p>
    </div>
  </body>

</html>
