<div id="options" class="options hide page" style="color:dimgrey;">
  <div class="newstitle">
    Options:
  </div>
  <div class="ram">
    Ram : <input id="rs" type="range" name="quantity" min="1" max="212" onchange="ramSave();" value=""><p id="ramvalue"></p>
  </div>
</div>
<script src="./assets/js/options.js"></script>
