<div id="playpage" class="playpage hide page">
  <p id="dlinfo">Téléchargement en cours ... <br>Lors de la fin du téléchargement le bouton jouer apparaîtra... <br> Merci de patienter</p>
  <button id="btnjouer" class="btn hide" onclick="launchGame();" type="button" name="launch">Jouer</button>
</div>
<script src="./assets/js/play.js"></script>
